node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

package-lock.json
client_405200534919-9t0ffa84n7nu0nhtfk166keougdosleg.apps.googleusercontent.com.plist
client_secret_405200534919-g3c1uta6mh11gm3sgb9l790cippuqn5c.apps.googleusercontent.com.json
client_secret_405200534919-ata6h1i6es75mepqqu4i4uokgl782flm.apps.googleusercontent.com.json
yarn.lock
android/
ios/
